.container {
    margin: 0 auto;
    padding: 0;
    text-transform: uppercase;
    width: 90%;
    text-align: center;
    font-size: 4.5rem;
}

@media screen and (max-width: 975px) {

    .container {
        font-size: 2.75rem;
        ;
    }
}