.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 75px auto 10px;
    max-width: 1600px;
}

.ctaItem {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    width: 200px;
    margin: auto;
}

.ctaItemHome {
    padding: 10px;
    text-align: center;
    width: 200px;
    margin: auto;
}

.ctaItem:hover {
    background-color: #edf6f3;
    border-radius: 8px;
    transition: .5s;
}

.ctaItemOpen {
    background-color: #c2d8d1;
    border-radius: 8px;
}

.somethingOpen {
    cursor: not-allowed;
}

.somethingOpen .ctaItem:hover {
    background-color: #ffffff;
}

.figure {
    border-radius: 10px;
    height: 200px;
    width: 350px;
    -webkit-box-shadow: -2px 6px 10px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 10px 5px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 6px 10px 5px rgba(0, 0, 0, 0.75);
}

.ctaItem h3 {
    color: #0b3d2c;
    margin: 0;
}

.ctaItemHome h3 {
    color: #0b3d2c;
    margin: 0;
}

.icon {
    border-radius: 50%;
    margin: 20px;
    width: 60px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.itemContainerFade {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

.itemContainer img {
    margin: 30px;
    width: 350px;
}

.itemContainerFade img {
    margin: 30px;
    width: 350px;
}

.itemMobileContainer {
    opacity: 1;
    height: 100vh;
}

.modal {
    height: 100vh;
    text-align: center;
}

.infoImageContainer img {
    margin: auto;
    height: 200px;
}


.contactBtn {
    background: #0b3d2c;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    max-width: 450px;
    min-width: 150px;
    margin: 20px 10px;
    text-transform: none;
}

.contactBtn:hover {
    background: none;
    border: 2px solid #0b3d2c;
    color: #0b3d2c;
    transition: .5s;
}

.infoHeader h2 {
    font-size: 26px;
}

.closeBtn {
    background: #0b3d2c;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    max-width: 30px;
    min-width: 30px;
    margin: 5px;
    text-align: center;
    text-transform: none;
}

.closeBtn:hover {
    background: none;
    border: 2px solid #0b3d2c;
    color: #0b3d2c;
    transition: .5s;
}

.text {
    color: #0b3d2c;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    margin: auto;
    max-width: 850px;
}

.buttonWrapper {
    text-align: center;
}

.primaryBtn {
    background: #0b3d2c;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    max-width: 450px;
    min-width: 150px;
    margin: 20px 10px;
    text-transform: none;
}

.primaryBtn:hover {
    background: none;
    border: 2px solid #0b3d2c;
    color: #0b3d2c;
    transition: .5s;
}

.infoContainer {
    display: block;
}

.infoContainerMobile {
    display: none;
}

@media screen and (max-width: 1050px) {

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 750px) {
    .itemContainerFade {
        animation: none;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 500px) {

    .container {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .infoContainer {
        display: none;
    }

    .infoContainerMobile {
        display: block;
    }

}