.container {
    background-color: #edf6f3;
    margin: auto;
    padding: 20px;
}

.footerSections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    max-width: 90%;
    padding-bottom: 30px;
}

.footerSection {
    color: #0b3d2c;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footerSection ul {
    list-style-type: none;
    padding: 0 50px;
}

.footerSection a {
    color: #0b3d2c;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.footerSection li {
    margin: 20px 0;
}

.email {
    color: #0b3d2c;
    font-size: 50px;
    padding: 10px;
}

.location {
    color: #0b3d2c;
    font-size: 50px;
    padding: 10px;
}

.phone {
    color: #0b3d2c;
    font-size: 20px;
    padding: 10px;
}

.para {
    align-items: center;
    display: flex;
    height: 20px;
    justify-content: center;
}

@media screen and (max-width: 750px) {

    .footerSections {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {

    .email {
        font-size: 35px;
    }
}