.footerSections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    max-width: 90%;
    padding-bottom: 30px;
}

.footerSection {
    color: #0b3d2c;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footerSection ul {
    list-style-type: none;
    padding: 0;
}

.footerSection a {
    color: #0b3d2c;
    cursor: pointer;
    font-size: 20px;
    line-height: 40px;
}

@media screen and (max-width: 750px) {

    .footerSections {
        display: flex;
        flex-direction: column;
    }
}