.header {
    display: flex;
    font-size: 22px;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0px 2rem;
}

.list {
    color: #0b3d2c;
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
}

.list a {
    color: var(--color-primary-400);
    text-decoration: none;
}

.list a.active {
    color: var(--color-primary-800);
    text-decoration: underline;
}

.logo {
    height: 100px;
}

.nav {
    position: fixed;
    z-index: 5;
    background-color: #ffffff;
    width: 100%;
}

.hamburger {
    display: none;
}

.hamburgerImg {
    display: none
}

@media screen and (max-width: 670px) {

    .header {
        flex-direction: column;
    }

    .logo {
        height: 50px;
    }

    .hamburger {
        background: none;
        border: none;
        display: block;
    }

    .hamburger p {
        font-size: 20px;
        font-weight: 600;
        height: fit-content;
        margin: 0;
        padding: 0;
    }

    .hamburgerImg {
        display: block;
        height: 30px;
        width: 30px;
        border: none;
        background: none;
    }

    .navMobileClosed {
        display: none;
    }

    .navMobileOpen {
        display: block;
    }
}

@media screen and (max-width: 520px) {

    .list {
        flex-direction: column;
        gap: .5rem;
        text-align: center;
    }
}